<div>
  <h2>後台管理人員登入</h2>
</div>

<div>
  <div>
    <%= form_with(url: admin_session_path, method: "post") do |form| %>
      <%= form.email_field :email, placeholder: "Email", autocomplete: "email", required: true %>
      <%= form.password_field :password, placeholder: "密碼", autocomplete: 'current-password',
        required: true %>
      <%= form.submit "登入" %>
    <% end %>
  </div>
  <div>
    <%= link_to "註冊", new_admin_user_path %>
  </div>
</div>
